.titulo-tendencias{
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    color: #f3ecec;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 300%;
}

.linea, .logo{
      text-decoration-line: none;
      color:white;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
h1 {
    color: #f3ecec;
  }
  
#searchInput{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    color:black;
    border-radius: 10px;
  }
#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #740202;
    color: #eae3e3;
    border-radius: 10px;
    cursor: pointer;
  }

.linea-Divisoria{
    height: 2px;
    background-color: var(--bgprimary);
  }
  
  #results {
    margin-top: 20px;
    text-align: left;
  }
  
  .movie {
    min-height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .movie img {
    width: 100px;
    float: left;
    margin-right: 10px;
  }
  
  .movie h2 {
    font-size: 18px;
    margin-top: 0;
    color:black;
  }
  
  .movie p {
    margin: 5px 0;
    color:black;
  }
  .main{
    min-height:70vh;
  }

  .listado {
    padding-left: 40px;
  }
  .contenedor-peliculas, .contenedor-listado{
    margin-right: 30px;
    margin-left:30px;
  }

  @media (max-width: 550px){
    .titulo-tendencias h2{
          font-size: 16px;
        }
        .container h1{
          font-size: 16px;
        }
        #searchButton, #searchInput{
          font-size: 12px;
        }
        
  }