.container-tendencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;

    }

    .trailers iframe{
        width: 60vw;
        height: 70vh;
    }
    .titulo-tendencias{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }